@import "tailwindcss";

@theme {
  --font-sans: "Roboto", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-primary-orange: #F7931E;
  --color-bg-gray: #C0C0C0;
  --color-content-white: #FFFFFF;
}

html,
body {
  font-family: "Roboto", ui-sans-serif, system-ui, sans-serif;
}
